
.btn-fixed {
  position: fixed;
}

.btn-fixed {
    bottom: 1%;
    right: 1%;
}

@media (min-width: 991px) {
  .btn-fixed {
    bottom: 10%;
    right: 5%;
  }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    visibility: hidden;
}